<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title style="height: 100px;">
          <div>
            IOT Remote
            <div style="font-size: small;">Smart devices makes better</div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <br>
    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item routerLink="/home" button detail="false">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>
              <h3>Home</h3>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/myprofile" button detail="false">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-label>
              <h3>My Profile</h3>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/iotdevices" button detail="false">
            <ion-icon slot="start" name="hardware-chip-outline"></ion-icon>
            <ion-label>
              <h3>Manage Devices</h3>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/receiverdetails" button detail="false">
            <ion-icon slot="start" name="radio-outline"></ion-icon>
            <ion-label>
              <h3>Receiver Details</h3>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/about" button detail="false">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>
              <h3>About</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
</ion-app>